<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Restaurant-tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header></header>
    <nav class="navbar navbar-light navbar-expand-md text-right">
        <div class="container-fluid"><a class="navbar-brand" href="#">Capital One Summit Challenge<br></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-right" id="navcol-1">
                <ul class="nav navbar-nav text-right">
                    <li class="nav-item text-right text-sm-right" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>
    <div>
        <div class="jumbotron" style="height: 365px;">
            <h1 style="height: 46px;">Tool 1: Search&nbsp;</h1>
            <p>Utilize the search functionality to find a restaurant </p>
            <form method="POST">
                <p>Please enter zipcode:</p>
                <p><input type="text" style="border-radius: 3px;" name="location"></p>
                <p>Please enter resuarant name:<br></p>
                <p><input type="text" style="border-radius: 3px;" name="term"><input type="submit" class="btn btn-primary"></p>
            </form>
        </div>
    </div>
    <div class="container">
        <h1></h1>
    </div>
    <div>
        <div class="container">
            <div class="row">
                {% for i in places%}
                    <div class="col-md-3">

                    <p>Name:&nbsp;{{i.name}}</p>
                    <p>Address:&nbsp;{{i.location.address1}}</p>
                    <p>Phone:&nbsp;{{i.display_phone}}</p>
                    <p>Rating:&nbsp;{{i.rating}}</p>
                        <p>Open:&nbsp;{{i.is_closed}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demoJS.js') }}"></script>
</body>

</html>